<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.blog.mapper.BoardMapper">

	<select id="list_cnt" resultType="int">
    
    	SELECT COUNT(*) FROM REFERENCE_BOARD 
    
    </select>
    
    <select id="adminList" resultType="Main" parameterType="hashmap">
	
		SELECT IDX,CATEGORY, SUBJECT, FILENAME, DEL_YN, TABLE_AUTH  FROM REFERENCE_BOARD
		WHERE ADMIN_AUTH = #{auth}
		ORDER BY UPLOAD_DATE DESC LIMIT #{startIndex} , #{endIndex}
	
	</select>
	
	<update id="update_del_yn" parameterType="hashmap">
	
		UPDATE REFERENCE_BOARD SET DEL_YN = #{del_yn} WHERE IDX = #{idx}
	
	</update>
	
	<select id="file_check" parameterType="hashmap" resultType="int">
    
    	SELECT COUNT(*) AS ADMIN_CNT FROM REFERENCE_BOARD WHERE FILENAME = #{uploadfile}
    
    </select>
    
    <update id="update_table_auth" parameterType="hashmap">
	
		UPDATE REFERENCE_BOARD SET TABLE_AUTH = #{table_auth} WHERE IDX = #{idx}
	
	</update>
    
    <insert id="upload" parameterType="hashmap" >
    
    	INSERT INTO REFERENCE_BOARD ( SUBJECT, CATEGORY, MEMO, FILENAME, UPLOAD_DATE, TABLE_AUTH, ADMIN_AUTH  ) 
    	VALUES ( #{subject}, #{upload_selectbox} , #{upload_textarea}, #{uploadfile}, sysdate(), #{auth_selectbox} , #{admin_auth} )
    
    </insert>
    
</mapper>